<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= seoTitle %></title>
<meta name="title" content="<%= seoTitle %>">
<meta name="description" content="<%= seoContent %>">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="keywords" content="<%= seoKeywords %>">
<link rel="canonical" href="<%= seoCanonical %>">
<meta content="telephone=no" name="format-detection">
<meta name="google-site-verification" content="LqG8oOlajVyFWAYc-y7gkMk5xZIg6TVfXwOwJdeMDaE" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://nwallpaper.deta.dev/css/custom-nav.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>